/* НАВБАР */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #eee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.open {
  display: flex !important;
}

.wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background: linear-gradient(90deg, rgba(255, 228, 103, 1) 0%, rgba(153, 17, 17, 1) 50%, rgba(252, 176, 69, 1) 100%);
  color: #FAF6F2;
  padding: 0 40px;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  background: linear-gradient(90deg, rgba(255, 228, 103, 0.9) 0%, rgba(153, 17, 17, 0.9) 50%, rgba(252, 176, 69, 0.9) 100%);
}

.logo img {
  width: 90px;
  height: 90px;
}

.nav {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}


.nav ul li {
  margin: 0 25px;
}

.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header-nav__li {
  list-style: none;
  text-transform: uppercase;
}

.header-nav__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #FAF6F2;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #FAF6F2;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0
}

.burger::after {
  bottom: 0
}

.burger.active span {
  transform: scale(0)
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 900px) {

  .burger {
    display: flex
  }

  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background: linear-gradient(90deg, rgba(190, 55, 28, 1) 24%, rgba(189, 96, 20, 1) 58%, rgba(79, 4, 4, 1) 89%);
    animation: burgerAnimation 0.4s;
  }

  .nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  top: 25px;
  background: linear-gradient(0deg, black, orange, black, orange, black);
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

.main-nav__li {
  margin: 0 25px;
}

.main-nav__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.active-link {
  color: orangered;
}